In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
#1a
#Experimental
#First I used random.poisson to get the poisson distribution and set it to the mean of 2
cars = np.random.poisson(2, 100000)
#Then I wanted only the values equal to 2
no_cars = cars == 0
no_cars.mean()

0.13548

In [3]:
#Theoretical
#I used the poisson function to create a poisson distribution
#Then pmf to return the probability of getting 0
s_cars = stats.poisson(2).pmf(0)
s_cars

0.1353352832366127

In [4]:
#1b
#Experimental
#Same method as above, just changed the == 0 to >= 3 to return only the values True if greater than equal 3
cars = np.random.poisson(2, 100000)
no_cars = cars >= 3
no_cars.mean()

0.3253

In [5]:
#Theoretical
#This time I used the sf function to return the probability for any number greater than 2 which is 3 or higher
s_cars = stats.poisson(2).sf(2)
s_cars

0.32332358381693654

In [6]:
#1c
#Experimental
cars = np.random.poisson(2, 100000)
#Then I wanted only the values greater than 0 for at least 1 car arrived
no_cars = cars > 0
no_cars.mean()

0.86405

In [7]:
#Theoretical
#This time I used the sf function to return the probability for at least 1 car or more arrives
s_cars = stats.poisson(2).sf(0)
s_cars

0.8646647167633873

In [8]:
#2a
#Experimental
#I first decided I needed to use .random.normal because it is a normal distribution
#Then I inputed the mean and standard deviation
grades = np.random.normal(3.0, .3, 100000)
#From here, it was easier to switch the values into a panda series to easily grab the top 5 percent using quantile
pd.Series(grades).quantile(.95)

3.4929365758845794

In [9]:
#Theoretical
#Same as above, once I figured out it was a normal distribution, I used the .norm to reflect
#Then put it the mean and sd
#Lastly I used the ppf function to input the percentage I wanted to return the value for that percentage
s_grades = stats.norm(3.0, .3).ppf(.95)
s_grades

3.4934560880854417

In [10]:
#2b
#Experimental
#Same as above, just changed the value to return the 15 percent
grades = np.random.normal(3.0, .3, 100000)
pd.Series(grades).quantile(.15)

2.685818110858662

In [11]:
#Theoretical
#This time I used the ppf function because it will include 15 percent and below
s_grades = stats.norm(3.0, .3).ppf(.15)
s_grades

2.689069983151863

In [61]:
#2c
#Experimental
#Same as above, but I used the 30th percentile to cover the 3rd decile
grades = np.random.normal(3.0, .3, 100000)
pd.Series(grades).quantile([.20, .30])

0.2    2.749214
0.3    2.844163
dtype: float64

In [62]:
#Theoretical
#I used the ppf to cover the bottom 30 percentile
#Yes a 2.8 would barely qualify for a scholarship since it's 2.84 and below.
s_grades = stats.norm(3.0, .3).ppf([.20, .30])
s_grades

array([2.74751363, 2.84267985])

In [66]:
#2c
#Experimental
#This was already answered above with the top 5 percent question
# The student would be in the 95th percentile
grades = np.random.normal(3.0, .3, 10000)
top_5 = 1 - (pd.Series(grades) >= 3.5)
top_5.mean()

0.9544

In [63]:
#Theoritcal
#Same as above
s_grades = stats.norm(3.0, .3).cdf(3.5)
s_grades

0.9522096477271853

In [69]:
#3
#Experimental
#For this question, I first had to figure out what type of distribution it was, I figured binomial since it's based on attempts vs successes
#Then I inputed the data provided to be 4326 attempts and the percent of success
clicks = np.random.binomial(4326, .02, 100000)
#After that, I wanted to return the odds of getting 97 clicks
one_day_clicks = clicks >= 97
one_day_clicks.mean()

0.14028

In [72]:
#Theoretical
#Same concept as above, but using the stats function for binomial and submitting the inputs to return the probability
s_clicks = stats.binom(4326, .02).sf(96)
s_clicks

0.1397582363130086

In [18]:
#4
#experimental
#I first needed to figure out how many answer choices the student could randomly pick from
#I figured this out with simple math, there are up to the hundreth decimal place, each place has 10 numbers
# 10 * 10 is 100 and there are 100 answer choices so in total, there are 100 answer options for each 100 questions
chance = 1 / 100
#Then we want to see only the first 60 questions, so I set the binomial function to 60
answers = np.random.binomial(60, chance, 100000)
got_one_right = answers >= 1
got_one_right.mean()

0.45188

In [19]:
#Theoretical
#Same concept as above but used stats binomial instead, then I used the sf to return the probability for anything greater than 1 answer right
s_got_one_right = stats.binom(60, chance).sf(0)
s_got_one_right

0.4528433576092388

In [20]:
#5a
#Experimental
num_of_students = round(3 * 22 * .9)
breakroom = np.random.choice([1, 0], size= (100000, num_of_students), p = [.03, .97])
clean_room = (breakroom.sum(axis=1)) > 0
clean_room.mean()

0.83494

In [21]:
#Theoretical
s_clean_room = stats.binom(num_of_students, .03).sf(0)
s_clean_room

0.8342199288437355

In [22]:
#5b
#Experimental
breakroom = np.random.choice([1, 0], size= (100000, (num_of_students * 2)), p = [.03, .97])
clean_room = (breakroom.sum(axis=1)) == 0
clean_room.mean()

0.02753

In [23]:
#Theoretical
s_clean_room = stats.binom(num_of_students * 2, .03).cdf(0)
s_clean_room

0.027483031992576134

In [24]:
#5c
#Experimental
breakroom = np.random.choice([1, 0], size= (100000, (num_of_students * 5)), p = [.03, .97])
clean_room = (breakroom.sum(axis=1)) == 0
clean_room.mean()

0.00011

In [25]:
#Theoretical
s_clean_room = stats.binom(num_of_students * 5, .03).cdf(0)
s_clean_room

0.00012521651388091245

In [26]:
#6
#Experimental
customers = pd.Series(np.random.normal(15, 3, 100000))
order_time = (customers * 2) + 10
enough_time = (60 - order_time) > 15
enough_time.mean()

0.79902

In [27]:
#Theoretical
s_order_time = 60 - (10 + 15)
s_enough_time = stats.norm(15 * 2, 3 * 2).cdf(s_order_time)
s_enough_time

0.7976716190363569

In [40]:
#7
from env import host, user, password

url = f'mysql+pymysql://{user}:{password}@{host}/employees'
query = '''
SELECT *
FROM salaries s
WHERE emp_no IN (
    SELECT emp_no FROM dept_emp
    WHERE to_date > NOW()
) AND to_date > NOW()
'''

In [42]:
employee_salary = pd.read_sql(query, url)
employee_salary.head()

   emp_no  salary   from_date     to_date
0   10001   88958  2002-06-22  9999-01-01
1   10002   72527  2001-08-02  9999-01-01
2   10003   43311  2001-12-01  9999-01-01
3   10004   74057  2001-11-27  9999-01-01
4   10005   94692  2001-09-09  9999-01-01

In [46]:
#7a
#Experimental
less_than_60k = employee_salary.salary <= 60000
less_than_60k.mean()

0.270614349252886

In [52]:
#Theoretical
mean_salary = employee_salary.salary.mean()
std_salary = employee_salary.salary.std()

s_less_than_60k = stats.norm(mean_salary, std_salary).cdf(60000)
s_less_than_60k

0.24385742480214423

In [53]:
#7b
#Experimental
greater_than_95k = employee_salary.salary >= 95000
greater_than_95k.mean()

0.10863137379020839

In [58]:
#Theoretical
s_greater_than_95k = stats.norm(mean_salary, std_salary).sf(95000)
s_greater_than_95k

0.09208819199804053

In [91]:
#7c
#Experimental
between_80k_and_65k = (employee_salary.salary >= 65000) & (employee_salary.salary <= 80000)
between_80k_and_65k.mean()

0.32515700221552196

In [96]:
#Theoretical
s_65k = stats.norm(mean_salary, std_salary).cdf(65000)
s_80k = stats.norm(mean_salary, std_salary).cdf(80000)
s_between_80k_and_65k = s_80k - s_65k
s_between_80k_and_65k

0.3350605685446666

In [92]:
#7d
#Experimental
top_5_percent = employee_salary.salary.quantile(.95)
top_5_percent

104225.84999999998

In [93]:
#Theoretical
s_top_5_percent = stats.norm(mean_salary, std_salary).isf(.05)
s_top_5_percent

100484.64454102777