In [3]:
import numpy as np
import pandas as pd

In [85]:
#1
#First I setup 2 values to be the rows and columns to input into the random.choice funtion to return the values
simulation = nrows = 10000
dice = ncols = 2
#Here I listed out all the numbers for each side of the dice then input the rows * columns to get the list of outcomes
rolls = np.random.choice([1, 2, 3, 4, 5, 6], simulation * dice).reshape(nrows, ncols)
#I first used the pd.DataFrame to create a dataframe out of the values to make it easier to use the lambda function
#Then here I created a lambda function to return the average of the values where the first column equals the second column
roll_double = (pd.DataFrame(rolls).apply(lambda roll: roll[0] == roll[1], axis=1).mean())
roll_double

0.1701

In [79]:
#2a
#Same as above, I setup the rows and columns
simulation = nrows = 10000
coins = ncols = 8
#Here I inputed the sides of each head names to run the coin flip simulation
flips = np.random.choice(["heads", "tails"], simulation * coins).reshape(nrows, ncols)
#I first started with a lambda function that would only return true for all the heads
#Then I wanted to count all the heads in each axis so I used .sum is == 3 so it would return booleans for all the rows that had 3 heads
#Lastly I took the mean so I could get the average of all the trues
three_heads = (pd.DataFrame(flips).apply(lambda flip: ((flip == "heads").sum() == 3), axis=1)).mean()
three_heads

0.2194

In [80]:
#2b
#Just copied and pasted the above and switched == 3 to > 3 to return all the rows with more than 3 heads
simulation = nrows = 10000
coins = ncols = 8
flips = np.random.choice(["heads", "tails"], simulation * coins).reshape(nrows, ncols)
three_heads = (pd.DataFrame(flips).apply(lambda flip: ((flip == "heads").sum() > 3), axis=1)).mean()
three_heads

0.6404

In [173]:
#3
simulation = nrows = 10000
billboards = ncols = 2
#I listed out the web dev and data science options which was for every 3 webdev cohorts, there is 1 data science
students = np.random.choice(["WebDev1", "WebDev2", "WebDev3", "DataSci"], simulation * billboards).reshape(nrows, ncols)
#Then I created a function that only returned true if both columns had data science
data_sci_billboards = (pd.DataFrame(students).apply(lambda cohort: ((cohort == "DataSci").sum()) == 2, axis=1)).mean()
data_sci_billboards

0.0616

In [176]:
#4
#First I created my rows an columns to be 10000 scenarios vs 5 days that codeup is open
simulation = nrows = 10000
days = ncols = 5
#Then I simulated the average of purchases per day being about 3 give or take 1.5 poptarts
#You can't buy half a bag of poptarts so I rounded up and down being about 2 to 4 poptarts per day are purchased on average
m_th_poptarts = np.random.choice([2, 3, 4], simulation * days).reshape(nrows, ncols)
#Once I had the rows, I created a lambda function to subtract the total from the week from 17 for each row
#Then I returned booleans for each row that did have at least 1 left and took the mean to get the odds being able to get one on Friday
poptarts_left = (pd.DataFrame(m_th_poptarts).apply(lambda poptart: (17 - poptart.sum()) > 1, axis =1)).mean()
poptarts_left

0.608

In [177]:
#5
#Based on Ryan's coin flip example, I figured out an easier way to do this problem
#I created an empty dataframe
heights = pd.DataFrame()
#Then I filled the dataframe with men and woman random numbers within each range of heights
heights["men"] = np.random.normal(178, 8, 10000)
heights["women"] = np.random.normal(170, 6, 10000)
#Then returned booleans that were true in the situation that the woman was taller than the man
w_taller_m = heights.men < heights.women
w_taller_m.mean()

0.217

In [166]:
#6
#I first created a dataframe with 2 columns, one for the list of students and one for the odds of getting corrupted
corruption = pd.DataFrame()
corruption["is_corrupted"] = np.random.choice(range(1, 250), size = 10000)
corruption["student"] = np.random.choice(range(1, 50), size = 10000)
#Then I wanted to return true for the students who are not that 1 chance that it would crash
no_issue = corruption.is_corrupted != 1
no_issue.mean()

0.9959

In [161]:
#Same as above then change to 100 students, instead of 50
corruption = pd.DataFrame()
corruption["is_corrupted"] = np.random.choice(range(1, 250), size = 10000)
corruption["student"] = np.random.choice(range(1, 100), size = 10000)
no_issue = corruption.is_corrupted > 1
no_issue.mean()

0.9953

In [170]:
#7
Days = np.random.choice(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], size=10000, p= .70)
Days

TypeError: object of type 'float' has no len()

In [174]:
birthdays = pd.DataFrame()
birthdays["day"] = np.random.choice(range(1, 365), size = 10000)
birthdays["person"] = np.random.choice(range(1,23), size = 10000)
same_birthday =

      day  person
0      42      20
1     348       8
2     151       9
3     236      12
4     136      21
...   ...     ...
9995   73      18
9996  240      19
9997   53      22
9998  255       4
9999  208       5

[10000 rows x 2 columns]